*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(247, 247, 247);
}
.AboutMe{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin: 10px auto;
  min-width: 350px;
}

img{
  border-radius: 50px;
}

.img-direction{
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}

.introduction{
  padding: 10px;
  text-align: center;
  font-size: 24px;
}


.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 90;
  
}

.nav-lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
  height: 20%;
  min-height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

.nav-left-child {
  cursor: pointer;
  text-decoration: none; 
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  color: #333;
  transition: all 0.3s ease-in-out;
  border-radius: 5px; 
  text-align: center;
  
  width: 100%; 
}

.nav-left-child:hover {
  background-color: #03a9f4;
  color: white; 
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-left-child:active {
  background-color: #0288d1;
  transform: scale(1); 
  
}

.nav-left-child:focus {
  outline: none; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 
}
.left-section {
  display: flex;
  justify-content: space-around;
  width: 50%;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  
}

.nav-left-child {
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.right-section {
  background-color: rgb(3, 147, 249);
  width: 100px;
  height: 50px;
  text-align: center;
}

.right-child {
  padding-top: 15px;
  color: aliceblue;
  font-size: 20px;
  font-weight: 500;
}


@media (max-width: 768px) {
  .nav-lists {
      flex-direction: column;  
      align-items: flex-start; 
      
  }

  .left-section {
      width: 100%; 
      justify-content: space-evenly; 
      font-size: 18px;
      margin-bottom: 10px; 
  }

  .nav-left-child {
      width: 100%;  
      text-align: center; 
      padding: 10px 0;
      border-right: none;  
      font-size: 16px;
  }

  .right-section {
    display: none;
      
  }

  .right-child {
      font-size: 18px;
      padding: 10px;
  }
}


.projects-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .MuiCard-root {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .MuiCard-root {
    width: 100%; 
  }
  .nav-left-child {
    font-size: 14px;
    padding-top: 1px; 
}
}

.DarkToggle {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s;
}

.DarkToggle:hover {
  background-color: #45a049; 
  transform: scale(1.05);
}

.DarkToggle:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}
